IDI_ICON1   ICON  DISCARDABLE  "e:\Moje dokumenty\QtCProjects\BFQt\MK_LOGO.ico"

#include <windows.h>


    VS_VERSION_INFO     VERSIONINFO
    FILEVERSION         1,0,6,30
    PRODUCTVERSION      1,0,6,30
    FILEFLAGSMASK       0x3fL
    FILEFLAGS           0
    FILEOS              0x4L
    FILETYPE            0x1L
    FILESUBTYPE         0x0L
    BEGIN
        BLOCK   "VarFileInfo"
        BEGIN
            VALUE   "Translation",  0x800,  1250
        END
        BLOCK   "StringFileInfo"
        BEGIN
            BLOCK   "080004e4"
            BEGIN
                VALUE   "CompanyName",      "Marcin Kałat"
                VALUE   "FileDescription",  "Biblioteka Filmów"
                VALUE   "FileVersion",      "1.0.6.30"
                VALUE   "InternalName",     "BF.exe"
                VALUE   "LegalCopyright",   "Copyright (C) 2005 - 2013 Marcin Kałat"
                VALUE   "OriginalFilename", "bf.exe"
                VALUE   "ProductName",      "Biblioteka Filmów"
                VALUE   "ProductVersion",   "1.0.6.30"
            END
        END
    END
