IDI_ICON1   ICON    DISCARDABLE "MK_LOGO.ico"

#include <windows.h>


    VS_VERSION_INFO     VERSIONINFO
    FILEVERSION         1,0,6,30
    PRODUCTVERSION      1,0,6,30
    FILEFLAGSMASK       0x3fL
    FILEFLAGS           0
    FILEOS              VOS_NT_WINDOWS32
    FILETYPE            VFT_APP
    FILESUBTYPE         VFT2_UNKNOWN
    BEGIN
        BLOCK   "VarFileInfo"
        BEGIN
            VALUE   "Translation",  0x415,  1250
        END
        BLOCK   "StringFileInfo"
        BEGIN
            BLOCK   "041504b0"
            BEGIN
                VALUE   "CompanyName",      "Marcin Kałat"
                VALUE   "FileDescription",  "Biblioteka Filmów"
                VALUE   "FileVersion",      "1.0.6.30\0"
                VALUE   "InternalName",     "BF.exe"
                VALUE   "LegalCopyright",   "Copyright (C) 2005 - 2013 Marcin Kałat"
                VALUE   "OriginalFilename", "bf.exe"
                VALUE   "ProductName",      "Biblioteka Filmów"
                VALUE   "ProductVersion",   "1.0.6.30\0"
            END
        END
    END
